html
  head
    meta(http-equiv='content-type', content='text/html;charset=utf-8')
    meta(charset='utf-8')
    meta(http-equiv='refresh', content='300')
    link(rel='stylesheet', href='../unpkg.com/spectre.css%400.5.8/dist/spectre.min.css')
    link(rel='stylesheet', href='style.css')
    title Leaderboard
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // To add image on title bar
    link(rel='shortcut icon', href='../images/eco.ico')
    // Minified JQuery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Materialize Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    // Google Material Icons
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    style.
      body {
      width: auto;
      height: auto;
      background-color: whitesmoke;
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      }
      nav.nav-center ul {
      text-align: center;
      }
      nav.nav-center ul li {
      display: inline;
      float: none;
      }
      nav.nav-center ul li a {
      display: inline-block;
      }
    script.
      $(document).ready(function() {
      $('.sidenav').sidenav();
      });
  body
    // NavBar
    nav(style='background-color: #051c2d;')
      .nav-wrapper
        a.brand-logo(href='#', style="font-family: 'Varela Round', sans-serif;") EcoDrive
        a.sidenav-trigger(href='#', data-target='mobile-nav')
          i.material-icons menu
        ul.right.hide-on-med-and-down
          li
            a(href='profile.html') Profile
          li
            a(href='#') Privacy
          li
            a(href='our_team.html') About
        ul#mobile-nav.sidenav(style='width: 300px;')
          img.responsive-img(src='../images/photo-1529665253569-6d01c0eaf7b6.jpeg', style='height: 17em; width: 300px;')
          li
            a(style='font-size: 1.1em;') Tanvish Minache
          hr
          li
            a(href='../profile.html') Profile
          li
            a(href='index.html') Leaderboard
          li
            a(href='badges.html') Badges
          li
            a(href='#') Privacy
          li
            a(href='our_team.html') About
    #content
      .subPart
        h2(style="color:#ffc107; font-family: 'Pacifico', cursive; font-size: 5em; font-weight: 1000;") Leaderboard
        table.table.table-striped.table-hover
          tbody
            tr
              th(style="text-align: center; font-family: 'Varela Round', sans-serif; color:#051c2d;")  Name
              th
              th(style="font-family: 'Varela Round', sans-serif; color:#051c2d;") Points
              th(style="font-family: 'Varela Round', sans-serif; color:#051c2d;") Badges Earned
            tr.member
              td
                a(href='shreyas.html ')
                  figure.avatar.avatar-xl.badge(data-initial='YZ ', data-badge='10 ')
                    img(src='img/profile/shreyas.jpg ', alt='YZ ')
                    img.avatar-icon(src='img/medal.png ')
              td
                a(href='shreyas.html ')
                  | Shreyas Mulay
              td
                .bar
                  .bar-item(style='width:auto; font-size: 1em;')
                    | 1,350
              td
                // List of badges earned
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/hacktoberfest.png ', alt='hacktoberfest ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Green Saviour
                      .card-body
                        | Minimal usage of vehicles for the month
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/10-contributions.png ', alt='10-contributions ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Month Champion
                      .card-body
                        | Saved highest amount of carbon footprint
                .popover.popover-top
                  figure.avatar.avatar-xl.badge(data-badge='9 ')
                    img(src='img/badges/adventure.png ', alt='adventure ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Care Taker
                      .card-body
                        | Completed 14 weeks of challenge using public transport and car pooling
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/novelist.png ', alt='novelist ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Favourite Accompanist
                      .card-body
                        | Highest rating gained in travel
                .popover.popover-top
                  figure.avatar.avatar-xl.badge(data-badge='6 ')
                    img(src='img/badges/taciturn.png ', alt='taciturn ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold EcoGreen
                      .card-body
                        | Week challenge completed to save carbon footprint by 70% to 90%
            tr.member
              td
                a(href='chandler.html ')
                  figure.avatar.avatar-xl.badge(data-initial='YZ ', data-badge='10 ')
                    img(src='img/profile/chandler.jpg ', alt='YZ ')
                    img.avatar-icon(src='img/medal.png ')
              td
                a(href='chandler.html ')
                  | Chandler Bing
              td
                .bar
                  .bar-item(style='width:100%; font-size: 1em; ')
                    | 850
              td
                // List of badges earned
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/hacktoberfest.png ', alt='hacktoberfest ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Green Saviour
                      .card-body
                        | Minimal usage of vehicles for the month
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/10-contributions.png ', alt='10-contributions ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Month Champion
                      .card-body
                        | Saved highest amount of carbon footprint
                .popover.popover-top
                  figure.avatar.avatar-xl.badge(data-badge='9 ')
                    img(src='img/badges/adventure.png ', alt='adventure ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Care Taker
                      .card-body
                        | Completed 14 weeks of challenge using public transport and car pooling
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/novelist.png ', alt='novelist ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Favourite Accompanist
                      .card-body
                        | Highest rating gained in travel
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/taciturn.png ', alt='taciturn ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold EcoGreen
                      .card-body
                        | Week challenge completed to save carbon footprint by 70% to 90%
            tr.member
              td
                a(href='sheldon.html ')
                  figure.avatar.avatar-xl.badge(data-initial='YZ ', data-badge='7 ')
                    img(src='img/profile/sheldon.jpg ', alt='YZ ')
                    img.avatar-icon(src='img/medal.png ')
              td
                a(href='sheldon.html ')
                  | Sheldon
              td
                .bar
                  .bar-item(style='width:100%; font-size: 1em; ')
                    | 610
              td
                // List of badges earned
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/hacktoberfest.png ', alt='hacktoberfest ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Green Saviour
                      .card-body
                        | Minimal usage of vehicles for the month
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/leaderboard.png ', alt='leaderboard ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Eco-friendly
                      .card-body
                        | Maximum number of car pooling exceeded
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/adventure.png ', alt='adventure ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Care Taker
                      .card-body
                        | Completed 14 weeks of challenge using public transport and car pooling
                .popover.popover-top
                  figure.avatar.avatar-xl.badge(data-badge='4 ')
                    img(src='img/badges/taciturn.png ', alt='taciturn ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold EcoGreen
                      .card-body
                        | Week challenge completed to save carbon footprint by 70% to 90%
                .popover.popover-top
                  figure.avatar.avatar-xl.badge(data-badge='4 ')
                    img(src='img/badges/pirate.png ', alt='pirate ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Zemerion
                      .card-body
                        | Max car pooling Least individual activity Less carbon footprint
            tr.member
              td
                a(href='rahul.html ')
                  figure.avatar.avatar-xl.badge(data-initial='YZ ', data-badge='5 ')
                    img(src='img/profile/rahul.jpg ', alt='YZ ')
                    img.avatar-icon(src='img/medal.png ')
              td
                a(href='rahul.html ')
                  | Rahul Gaur
              td
                .bar
                  .bar-item(style='width:100%; font-size: 1em; ')
                    | 400
              td
                // List of badges earned
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/hacktoberfest.png ', alt='hacktoberfest ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Green Saviour
                      .card-body
                        | Minimal usage of vehicles for the month
                .popover.popover-top
                  figure.avatar.avatar-xl.badge(data-badge='3 ')
                    img(src='img/badges/leaderboard.png ', alt='leaderboard ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Eco-friendly
                      .card-body
                        | Maximum number of car pooling exceeded
                .popover.popover-top
                  figure.avatar.avatar-xl.badge(data-badge='3 ')
                    img(src='img/badges/taciturn.png ', alt='taciturn ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold EcoGreen
                      .card-body
                        | Week challenge completed to save carbon footprint by 70% to 90%
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/pirate.png ', alt='pirate ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Zemerion
                      .card-body
                        | Max car pooling Least individual activity Less carbon footprint
            tr.member
              td
                a(href='vinayak.html ')
                  figure.avatar.avatar-xl.badge(data-initial='YZ ', data-badge='5 ')
                    img(src='img/profile/vinayak.jpg ', alt='YZ ')
                    img.avatar-icon(src='img/medal.png ')
              td
                a(href='vinayak.html ')
                  | Vinayak Tevare
              td
                .bar
                  .bar-item(style='width:100%; font-size: 1em; ')
                    | 550
              td
                // List of badges earned
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/hacktoberfest.png ', alt='hacktoberfest ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Green Saviour
                      .card-body
                        | Minimal usage of vehicles for the month
                .popover.popover-top
                  figure.avatar.avatar-xl.badge(data-badge='5 ')
                    img(src='img/badges/taciturn.png ', alt='taciturn ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold EcoGreen
                      .card-body
                        | Week challenge completed to save carbon footprint by 70% to 90%
            tr.member
              td
                a(href='tanmai.html ')
                  figure.avatar.avatar-xl.badge(data-initial='YZ ', data-badge='5 ')
                    img(src='img/profile/tanmai.jpg ', alt='YZ ')
                    img.avatar-icon(src='img/medal.png ')
              td
                a(href='tanmai.html ')
                  | Tanmai
              td
                .bar
                  .bar-item(style='width:100%; font-size: 1em; ')
                    | 720
              td
                // List of badges earned
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/hacktoberfest.png ', alt='hacktoberfest ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Green Saviour
                      .card-body
                        | Minimal usage of vehicles for the month
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/taciturn.png ', alt='taciturn ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold EcoGreen
                      .card-body
                        | Week challenge completed to save carbon footprint by 70% to 90%
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/pirate.png ', alt='pirate ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Zemerion
                      .card-body
                        | Max car pooling Least individual activity Less carbon footprint
            tr.member
              td
                a(href='sejal.html ')
                  figure.avatar.avatar-xl.badge(data-initial='YZ ', data-badge='5 ')
                    img(src='img/profile/sejal.jpg ', alt='YZ ')
                    img.avatar-icon(src='img/medal.png ')
              td
                a(href='sejal.html ')
                  | Sejal
              td
                .bar
                  .bar-item(style='width:100%; font-size: 1em; ')
                    | 5330
              td
                // List of badges earned
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/hacktoberfest.png ', alt='hacktoberfest ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Green Saviour
                      .card-body
                        | Minimal usage of vehicles for the month
                .popover.popover-top
                  figure.avatar.avatar-xl.badge(data-badge='4 ')
                    img(src='img/badges/adventure.png ', alt='adventure ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Care Taker
                      .card-body
                        | Completed 14 weeks of challenge using public transport and car pooling
            tr.member
              td
                a(href='eric.html ')
                  figure.avatar.avatar-xl.badge(data-initial='YZ ', data-badge='5 ')
                    img(src='img/profile/eric.jpg ', alt='YZ ')
                    img.avatar-icon(src='img/medal.png ')
              td
                a(href='eric.html ')
                  | Eric Grimson
              td
                .bar
                  .bar-item(style='width:100%; font-size: 1em; ')
                    | 630
              td
                // List of badges earned
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/hacktoberfest.png ', alt='hacktoberfest ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Green Saviour
                      .card-body
                        | Minimal usage of vehicles for the month
                .popover.popover-top
                  figure.avatar.avatar-xl.badge(data-badge='3 ')
                    img(src='img/badges/adventure.png ', alt='adventure ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Care Taker
                      .card-body
                        | Completed 14 weeks of challenge using public transport and car pooling
                .popover.popover-top
                  figure.avatar.avatar-xl.badge(data-badge='3 ')
                    img(src='img/badges/taciturn.png ', alt='taciturn ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold EcoGreen
                      .card-body
                        | Week challenge completed to save carbon footprint by 70% to 90%
            tr.member
              td
                a(href='darshana.html ')
                  figure.avatar.avatar-xl.badge(data-initial='YZ ', data-badge='1 ')
                    img(src='img/profile/darshana.jpg ', alt='YZ ')
              td
                a(href='darshana.html ')
                  | Darshana
              td
                .bar
                  .bar-item(style='width:20%; font-size: 1em;  ')
                    | 50
              td
                // List of badges earned
                .popover.popover-top
                  figure.avatar.avatar-xl(data-badge='1 ')
                    img(src='img/badges/hacktoberfest.png ', alt='hacktoberfest ')
                  .popover-container
                    .card
                      .card-header
                        .text-large.text-bold Green Saviour
                      .card-body
                        | Minimal usage of vehicles for the month
      // Bottom Navigation
      nav.nav-center(role='navigation', style='background-color: #051c2d; position: static; bottom: 0;')
        .nav-wrapper.container
          ul
            li
              a(href='#', style='color: #ffffff;') Pool Drive
            li
              a(href='../activity.html', style='color: #ffffff;') Activity
            li
              a(href='/community', style='color: #ffffff;') Community
