<!-- views/dashboard.ejs -->
<!doctype html>
<html>
<head>

    <!-- preloader -->
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <link rel="manifest" href="../../manifest.json">
    <link rel="stylesheet" href="/public/css/themes/white/pace-theme-flash.css">
    <script src="/public/js/pace.min.js"></script>

    <!--- basic page needs -->
    <meta charset="utf-8">
    <title>Find a Ride - Eco Drive</title>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/erkab.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-select.css">
    <link rel="stylesheet" href="/public/css/default.css">
    <link rel="stylesheet" href="/public/css/default.date.css">
    <link rel="stylesheet" href="/public/css/default.time.css">
    <link rel="stylesheet" href="/public/css/bootstrap-toggle.min.css">

    <!-- favicons -->
    <link rel="icon" type="image/png" href="/public/images/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/public/images/favicon-16x16.png" sizes="16x16"/>

</head>

<body>

<% include templates/header.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center uppercase">
            <h1 class="text-center letter-spacing">Find a Ride</h1>
            <form action="/request" method="post">
                <div class="sticky-div">
                    <h3 class="letter-spacing text-center"><i class="fa fa-cog"></i> Set Ride Preferences</h3>
                    <hr class="edit-profile-hr">
                </div>
                <input class="input-margin-auto" name="userType" type="checkbox" checked data-toggle="toggle"
                       data-on="PASSENGER" value="Rider"
                       data-off="DRIVER"
                       data-onstyle="success" data-offstyle="danger" data-width="220px">
                <br><br>
                 <input class="input-margin-auto" name="vehicle" type="checkbox" checked data-toggle="toggle"
                       data-on="CAR" value="CAR"
                       data-off="BIKE"
                       data-onstyle="success" data-offstyle="danger" data-width="220px">
                <br>
                <label>Destination</label><br>
                <input type="text" class="input-margin-auto selectpicker" placeholder="Destination" aria-label="To" aria-describedby="basic-addon1" name="area" id="areaPicker" onchange="pickedArea();" data-live-search="true">

                <br>
                <label>Pickup Points</label><br>
                <input type="text" class="input-margin-auto selectpicker" placeholder="Origin" aria-label="From" aria-describedby="basic-addon1" name="points" onchange="pickedPoint();" id="pointPicker" multiple data-selected-text-format="count">
                <label>Date</label><br>
                <input class="input-margin-auto" name="date" type="text" id="input_date" placeholder="Set pickup date">
                <label>Time</label><br>

                <input class="input-margin-auto" name="time" type="text" id="input_time" placeholder="Set pickup time">
                <label>Seats Available</label><br>
                <input class="input-margin-auto" name="seat" type="number" id="seat" placeholder="Set number of seats">
                <label>Driver Preference</label><br>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-main pref-btn active">
                        <input type="radio" name="driverPref" value="No Pref." autocomplete="off" checked><i
                                class="fa fa-times"></i></label>
                    <label class="btn btn-main pref-btn">
                        <input type="radio" name="driverPref" value="Male" autocomplete="off"><i
                                class="fa fa-male"></i></label>
                    <label class="btn btn-main pref-btn">
                        <input type="radio" name="driverPref" value="Female" autocomplete="off"><i
                                class="fa fa-female"></i></label>
                </div>
                <br><br>
                <button id="goBtn" type="submit" class="btn btn-main"><i
                            class="fa fa-car" onclick = "mark()"></i> Go!
                </button>
            </form>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8 right-div">
            <div id="map" class="map-request"></div>
        </div>
    </div>

<!-- Java Script
================================================== -->
<script src="/public/js/jquery-2.1.3.min.js"></script>
<script src="/public/js/main.js"></script>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/bootstrap.js"></script>
<script src="/public/js/bootstrap-select.js"></script>
<script src="/public/js/mapUtils.js"></script>
<script src="/public/js/picker.js"></script>
<script src="/public/js/picker.date.js"></script>
<script src="/public/js/picker.time.js"></script>
<script src="/public/js/bootstrap-toggle.min.js"></script>

<script>
    var $inputDate = $('#input_date').pickadate({
        formatSubmit: 'dd/mm/yyyy',
        min: new Date(),
        hiddenName: true
    })
    picker = $inputDate.pickadate('picker');
</script>
<script>
    var $inputTime = $('#input_time').pickatime({
        formatSubmit: 'HH:i',
        hiddenName: true,
        min: [6, 0],
        max: [19, 0],
        interval: 15
    })
    picker = $inputTime.pickatime('picker');
</script>
<script>
    $(function () {
        $('#areaPicker').selectpicker();
        $('#pointPicker').selectpicker();

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
            $('#areaPicker').selectpicker('mobile');
            $('#pointPicker').selectpicker('mobile');
        }
    });
</script>
<script>
    function pickedArea() {
        $('#pointPicker').html('');
        $('#pointPicker').selectpicker('refresh');
        clearMarkers();
        var area = $('#areaPicker').val();
        console.log(area);

        window.locationsData[area].features.forEach(function (location, index) {
            $('#pointPicker').append('<option value =' + '"' + location.properties.name + '"' + '>' + location.properties.name + '</option>');
            addMarker(location.geometry.coordinates);
        });
        $('#pointPicker').selectpicker('refresh');
    }

    function pickedPoint() {
        $('#pointPicker').find('option').each(function (index, option) {
            setMarker(index, option.selected ? map : null);
        });
    }
</script>
<script>
    $(document).ready(function () {
        $.getJSON('public/ajax/locations.json', function (data) {
            window.locationsData = data;
            $.each(data.areas, function (index, value) {
                $('#areaPicker').append('<option value ="' + value + '">' + value + '</option>');
                $('#areaPicker').selectpicker('refresh');
            })
        });
    });
</script>
 <script>
  function initMap() {
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
    var input = document.getElementById('pointPicker');
    var autocomplete = new google.maps.places.Autocomplete(input);
    var input1 = document.getElementById('areaPicker');

    var autocomplete1 = new google.maps.places.Autocomplete(input1);
    var input2 = document.getElementById('wayPoint1');
    var autocomplete2 = new google.maps.places.Autocomplete(input2);
    var input3 = document.getElementById('wayPoint2');
    var autocomplete3 = new google.maps.places.Autocomplete(input3);
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5.3,
      center: {lat: 18.397, lng: 75.644}
    });
    directionsDisplay.setMap(map);

    var onChangeHandler = function() {
      calculateAndDisplayRoute(directionsService, directionsDisplay);
    };
    //console.log(document.getElementById('start').value);
    document.getElementById('location2').addEventListener('change', onChangeHandler);
    document.getElementById('location1').addEventListener('change', onChangeHandler);
    //document.getElementById('drive_mode').addEventListener('change', onChangeHandler);
  }
  //google.maps.event.addDomListener(window, 'load', initMap);

  function calculateAndDisplayRoute(directionsService, directionsDisplay) {
    //var selectedMode = document.getElementById('drive_mode').value;
    //console.log(selectedMode);
    directionsService.route({
      origin: document.getElementById('location2').value,
      destination: document.getElementById('location1').value,
      travelMode: 'DRIVING'
    }, function(response, status) {
      if (status === 'OK') {
        directionsDisplay.setDirections(response);
      }// else {
      //   window.alert('Directions request failed due to ' + status);
      // }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc7FZQ6jG2VcxnxbMNdkPFFzrUsJxq-ys&libraries=places&callback=initMap"
    async defer></script>
  <script>
  function mark(){
  var area = $('#areaPicker').val();
        console.log(area);
         window.localStorage.setItem("mark",area);
         }
         </script>
</body>
</html>